  <div id="nav">
    <a href="/" id="logo">dog behaviour - humain reaction</a>
    <ul id="nav_main">
      <li><a href="/"><span>Home</span></a></li>
      <li><a href="/basics"><span>Basics</span></a></li>
      <li><a href="/about"><span>About</span></a></li>
      <li><a href="/contact"><span>Contact</span></a></li>
    </ul>
  </div>