    <div class="container">
      <div id="main">
        <form id="contact" action="" method="post">

          <label class="form-label" for="fname"><b>First Name:</b></label>
          <input class="form-input" type="text" id="fname" name="firstname" placeholder="Your name is?">
      
          <label class="form-label" for="lname"><b>Last Name:</b></label>
          <input class="form-input" type="text" id="lname" name="lastname" placeholder="Your last name is?">
      
          <label class="form-label" for="country"><b>Country</b></label>
          <select class="form-input" id="country" name="country">
            <option value="france">France</option>
            <option value="germany">Germany</option>
            <option value="usa">USA</option>
            <option value="austria">Austria</option>
            <option value="belgium">Belgium</option>
            <option value="spain">Spain</option>
          </select>

          <label class="form-label" for="email"><b>Email:</b></label>
          <input class="form-input" type="email" id="email" name="email" placeholder="Your email address is?">
      
          <label class="form-label" for="phone"><b>Phone Number:</b></label>
          <input class="form-input" type="number" id="phone" name="phoneumber" placeholder="Your phone number is?">
      
          <label class="form-label" for="subject"><b>Your Message:</b></label>
          <textarea id="subject" name="subject" placeholder="Write your message in this field." ></textarea>
      
          <input id="btn-submit" type="submit" value="Submit">
      
        </form>
      </div>
    </div>